*{    
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: white;
}
/* --------------Home------------------*/
#header{
    width: 100%;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
.logo{
    width: 40px;
    margin-bottom: 20px;
}nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    color: blue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-bottom: 1%;
        color: #ffffff;
}
.header-text h1 span{
    color: #ff004f;
}
/* --------------Sobre------------------*/
#about{
    padding-top: 50px;
    padding-bottom: 20px;
    color: #cfcfcf;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    text-align: justify;
}
.sub-title{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;    
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.active-link.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 20px 0;
}
.tab-contents ul li span{
    color: #1cff64;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* --------------Serviços--------------- */
#services{
    padding: 60;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}
.services-list div{
    background: #ffffff;
    padding: 40px;
    font-size: 13PX;
    font-weight: 300px;
    border-radius: 10px; 
    transition: background 0.5s,transform 0.5s;
    HEIGHT: 100%;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    color: black;
}
.services-list div p{
    text-align: justify;
    color: black;
}
.services-list div a{
    text-decoration: none;
    color: #ffffff;
    font-size: 36px;
    margin-top: 3px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
    color: #ffffff;

}
/* --------------Portifolio--------------- */
#portifolio{
    padding-top: 10px;
    padding-bottom: 10px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}
.work-list-certificados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}
.work-list-certificados h3{
    color: #fff;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.sub-title-type-2{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #fff;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #030303;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    background-color: rgb(209, 58, 12);
}
.btn:hover{
    background: #ff004f;
}
/* --------------Contato--------------- */
.fa-solid, .fas {
    color: rgb(0, 0, 0);
}
.fa-app-store {
    color: rgb(209, 58, 12);
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    color: #fff;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #4800fd;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* --------------Css para telefone--------------- */
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 2532px) and (min-height: 1170px),
       only screen and (max-width: 2340px) and (min-height: 1080px) {
    .tab-titles{
        margin: 60px 0 40px;
    }
    
        #header {
    width: 100%;
    background-size: cover;
    background-position: center;
    }
    .header-text h1{
        font-size: 30px;
    }
    .services-list div p {
        text-align: justify;
        font-size: 32px;
    }
    nav .fa-solid{
        display: block;
        font-size: 60px;
        color: white;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -600px;
        width: 600px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 45px;
    }
    nav ul li a{
        color: #ffffff;
        font-size: 52px;;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        margin-top: 10px;
        font-size: 35px;
    }
    .sub-title-type-2{
        font-size: 30px;
    }
    .about-col-1, .about-col-2{
        flex: 100%;
    }
    .about-col-1{
        margin: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 30px;
        margin-right: 20px;
        color: peachpuff;
    }
    .tab-contents ul li {
    list-style: none;
    margin: 20px 0;
    font-size: 30px;
}
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .header-text{
        color: #fff;
    }
    .copyright{
        font-size: 14px;
        color: #ffffff;
    }
    .services-list div a {
        text-decoration: none;
        color: #ffffff;
        font-size: 102px;
        margin-top: 3px;
        display: grid;
    }
    a{
        font-size: 62px;
    }
    p{
        font-size: 22px;
    }
    .services-list {
        display: flow;
        grid-gap: 40px;
        margin-top: 40px;
    }
    .work-list-certificados {
        display: flow;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 40px;
    }
    .services-list {
        display: flow;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .services-list div{
        background: #ffffff;
        padding: 40px;
        font-size: 13PX;
        font-weight: 300px;
        border-radius: 10px; 
        transition: background 0.5s,transform 0.5s;
        width: 95%;
        margin: 20px;
    }
    .services-list div p{
        font-size: 16px;
    }
    .work {
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        margin: 20px;
    }
    .social-icons a{
        text-decoration: none;
        font-size: 65px;
        margin-right: 15px;
        color: #ababab;
        display: inline-block;
        transition: transform 0.5s;
    }
}

/* --------------ódigo CSS para telas com largura maior ou igual a 1080p--------------- */
@media only screen and (min-width: 1080px) {
    .services-list{
        display: grid;
        grid-gap: 40px;
        margin-top: 40px;
    }
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 40px;
        margin-top: 40px;
    }
    .work-list-certificados {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 40px;
        margin-top: 40px;
    }
    #contact{
        padding-top: 5px;
    }
    .about-col-2 {
        flex-basis: 60%;
        text-align: start;
        font-size: 13px;
    }
    a{
        font-size: 22px;
    }
    p{
        font-size: 22px;
            color: #ffffff;
    }
    .work-list-certificados {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 40px;
        margin-top: 40px;
    }
    .services-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
